@model IEnumerable<Music.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        @Html.TextBox("SearchString") <br />
        <input type="Submit" value="Search" />
    </p>
    }
</p>


@{WebGrid grid = new WebGrid(Model, rowsPerPage:4) ; }

@grid.GetHtml(
    tableStyle: "table",
    columns:grid.Columns(
        grid.Column("Title", "Title"),
        grid.Column("Artist.Name", "Artist"),
        grid.Column("Genre.Name", "Genre"),
        grid.Column("Price", "Price")
        )
    )


